---
layout: default
title: Home
---

<div class="w3-container w3-light-gray">
  The purpose of this site is to raise awareness about the spread of invasive species 
  and the harm they cause to the environment. Invasive species are an ever growing threat to 
  our world in the way they reduce biodiversity and disrupt ecosystems and food chains.

  This site is organized into five main areas of content: podcasts, feature stories, 
  infographic, glossary, and team bios.These can be navigated using the labeled navigation bar
  near the top of the page. Each section offers either insight into invasive species 
  or information about the team that put this site together.
</div>  

{% for post in paginator.posts %}

<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
</article>

{% endfor %}
